


    <div class="container mt-3">
        <h2>Full Stack Web Development with ASP.Net Core</h2>
        <div class="card">
            <div class="card-header">Assignment on Week 2</div>
            <div class="card-body">
                <p class="card-text">
                    Let's assume we have a login page where users can login with username and password. Now, we need to provide a "forgot password" option where the user can reset the password.
                </p>
                <p class="card-text">
                    In the forgot password page, it should contain:
                </p>
                <ul class="card-text">
                    <li>User Name</li>
                    <li>New Password</li>
                    <li>Confirm Password</li>
                </ul>
                <p class="card-text">
                    The new password and confirm password must match. Finally, we update the existing password with the new password.
                </p>
            </div>
            <div class="card-footer">
                <div class="card-header">Biplob Kumar Biswas</div>
            </div>
        </div>
    </div>